<!-- <p>Cantidad de productos {{ myShoppingCart.length }}</p>
<p>Total: ${{ total }}</p>
<p>Today: {{ today | date : "short" }}</p>
<p>Time from first day of the month: {{ otherDay | timeCalculation }}</p>
<p>{{ "hoLA, BIENvENIdO A eSTA TIENDA" | uppercase }}</p> -->

<!-- <button (click)="createNewProduct()">Create New Product</button> -->
<!-- <button (click)="sendFakeItem('2')">Send Fake Item</button> -->
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddedProduct($event)"
    (detailedProduct)="onShowDetails($event)"
  ></app-product>
  <button (click)="loadMore()">Load More</button>
</div>
<div class="product-detail" [class.active]="showProductDetails">
  <div *ngIf="productSelected">
    <button (click)="toggleProductDetails()">Close</button>
    <h1>{{ productSelected.title }}</h1>
    <p>{{ productSelected.description }}</p>
    <button (click)="updateProduct()">Edit</button>
    <button (click)="deleteProduct()">Delete</button>
  </div>
</div>
