<router-outlet></router-outlet>

<!-- <button (click)="createUser()">Create User</button>
<button (click)="login()">Login</button>
<button (click)="getProfile()">Get profile</button>
<button (click)="downloadPDF()">Download PDF</button>
<input type="file" (change)="onUpload($event)" />
<img *ngIf="imgRta" [src]="imgRta" />
<app-products></app-products> -->

<!-- <p><input type="text" [(ngModel)]="img" /></p>
<button (click)="toggleImg()">Toggle Image</button>
<p>{{ showImage }}</p>
<app-img *ngIf="showImage" (loaded)="onLoaded($event)" [img]="img"></app-img>
<hr /> -->
